@model Marechal_System.Models.Entrada

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">

                <div class="body">

                    <h2 class="card-inside-title" style="text-align:center">CAMPOS DE ENTRADA</h2>
                    <div class="row clearfix">
                        <div class="col-sm-12">

                            <div class="form-group">
                                <div class="form-line">
                                 
                                    @Html.EditorFor(model => model.Codigo, "Codigo", new { htmlAttributes = new { @class = "form-control" }, @maxlength = "100" })
                                    @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Nome</label>
                                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Caixa</label>
                                    @Html.EditorFor(model => model.Caixa, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.UltimoCaixa } })
                                    @Html.ValidationMessageFor(model => model.Caixa, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Quantidade</label>
                                    @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
                                </div>
                            </div>



                        </div>
                        <div class="col-md-offset-10 col-md-10">
                            <input type="submit" value="Salvar" class="btn btn-success" />
                        </div>
                    </div>
                   
                </div>

            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Voltar", "Index")
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>

<script>
    $('.cpf').mask('000.000.000-00', { reverse: true });
</script>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")


}
